.end{
    background: #000;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 70px;
    height: 70px;
}
.logo p{
    color: #fff;
    font-weight: bold;
}
.end-list{
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-list{
    list-style: none;
    display: flex;
    gap: 15px;
    color: #fff;
}
.ul-list a{
    text-decoration: none;
    color: #fff;
}
.ul-list a::after{
    content: '';
    display: block;
    bottom: -1px;
    right: 0;
    width: 0;
    height: 1px;
    background-color: rgb(189, 181, 181);
    transition: width 0.5s ease;
}
.ul-list a:hover:after{
    content: '';
    width: 100%;
    left: 0;
    height: 1px; 
    background-color: rgb(201, 184, 184); 
    transition: width 0.5s ease; 
}
     
.social-media{ 
    display: flex;
    justify-content: center;   
    align-items: center;
    gap: 20px;
}
.social-media img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media screen and (max-width: 794px) {
    .end{
        display: flex;
        flex-direction: column;
    }
    .ul-list{
        display: flex;
        padding: 25px 0;
        flex-direction: column;
    }
    .ul-list li{
        padding: 3px;
    }
    .social-media{
        margin-top: 10px;
    }
}
